{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load i18n %}
{% block title %}
    change password
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            </div>
            <div class="col-md-8 form-group">
                {% if change_password_form.old_password.errors %}
                    <div class="alert alert-danger">
                        <strong>
                            {{ change_password_form.old_password.errors }}
                        </strong>
                    </div>
                {% endif %}

                <form action="{% url 'change_password_page' %}" method="post">
                    {% csrf_token %}
                    {{ change_password_form.old_password.label_tag }}
                    {{ change_password_form.old_password }}
                    {{ change_password_form.new_password.label_tag }}
                    {{ change_password_form.new_password }}
                    {#                    {{ change_password_form.new_password.errors }}#}
                    {{ change_password_form.confirm_password.label_tag }}
                    {{ change_password_form.confirm_password }}
                    {#                    {{ change_password_form.confirm_password.errors }}#}


                    <div style="text-align: right">
                        <button type="submit" class="btn btn-info"
                                style="
                      margin-bottom: 30px;
                      margin-top: 30px;
                      ;
                                                            ">
                            {% trans 'change password' %}
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}