{% extends 'shared/_layout.html' %}
{% load thumbnail %}
{% load poll_extras %}
{% load render_partial %}
{% load ratings %}
{% load i18n %}
{% block title %}
    article list
{% endblock %}
{% block content %}
    <section>
        <div class="container">
        <div class="row">
            <div class="col-sm-6 pull-left">
                {% include 'article_module/components/filter_articles_component.html' %}
            </div>
        </div>
            <div class="row">

                <div class="col-sm-12">
                    <div class="blog-post-area">
                        <h2 class="title text-center" id="show_title_articles">{% trans 'most visit articles' %}</h2>
                        {% for article in most_visit_articles %}
                            <div class="single-blog-post">
                                <h3>{{ article.title }}</h3>
                                <div class="post-meta pull-right">
                                    <ul>
                                        <li> {{ request.user.email }}</li>
                                        <li>{{ article.get_jalali_create_time }}</li>
                                        <li>{{ article.create_date.date}}</li>
                                    </ul>
                                </div>
                                {% ratings article %}
                                <a href="">

                                    {% thumbnail article.image "892x398" quality=100 crop='center' as im %}
                                        <img src="{{ im.url }}">
                                    {% endthumbnail %}
                                </a>
                                <p>{{ article.short_description }}</p>
                                <a class="btn btn-primary" href="{% url 'article_detail' pk=article.id %}">
                                    {% trans 'read more' %}</a>
                            </div>
                        {% endfor %}



                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">{% trans 'previous' %}</a></li>
                            {% endif %}

                        
                            {% for pageNumber in paginator.page_range %}
                                <li class="{% if page_obj.number == pageNumber %}active{% endif %} "><a
                                        href="?page={{ pageNumber }}">{{ pageNumber }}</a></li>
                            {% endfor %}


                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">{% trans 'next' %}</a></li>
                            {% endif %}
                        </ul>

                    </div>
                </div>


            </div>
        </div>
    </section>
{% endblock %}