{% load i18n %}
<div class="response-area" id="comments_area">
    <h2>{% trans 'comments' %}:({{ comments_count }})</h2>
    <ul class="media-list">

        {% for comment in comments %}
            <li class="media " id="single_comment_box_{{ comment.id }}">

                <a class="pull-right" href="#">
                    <img class="media-object" src="/static/images/blog/Customer.jpg" alt="">
                </a>
                <div class="media-body">
                    <ul class="sinlge-post-meta">
                        <li>{{ comment.user }}</li>
                        <li>{{ comment.create_date | time }}</li>
                        <li>{{ comment.create_date | date }}</li>
                    </ul>
                    <p>{{ comment.text }}</p>
                    <a class="btn btn-primary" onclick="fillParentId({{ comment.id }})"><i class="fa fa-reply"></i>{% trans 'answer' %}</a>
                </div>
            </li>


            {% for sub_comment in comment.articlecomment_set.all %}
                <li class="media  second-media " id="single_comment_box_{{ comment.id }}">

                    <a class="pull-right" href="#">
                        <img class="media-object" src="/static/images/blog/Customer.jpg" alt="">
                    </a>
                    <div class="media-body">
                        <ul class="sinlge-post-meta">
                            <li>{{ sub_comment.user }}</li>
                            <li>{{ sub_comment.create_date | time }}
                            </li>
                            <li>{{ sub_comment.create_date | date }}
                            </li>
                        </ul>
                        <p>{{ sub_comment.text }}</p>

                    </div>
                </li>
            {% endfor %}

        {% endfor %}


    </ul>
</div>